/*font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;*/

body {
  background: #232a2a;
  background: url('../images/distressed-bg.jpg') 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  height: 101%;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.75);
  transition: background .3s;
}


h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.Tagline {
  /*background: rgba(0,0,0,0.6);*/
  color: #222;
  font-size: 24px;
  margin-top: 3em;
  opacity: 0.6;
  transform: rotate(23deg);
}
.Tagline span {
  background: #fff;
  padding: 10px;
}


.Question {
  /*border: 3px solid #cacdac;*/
  padding: 30px 10px;
  position: relative;
  transform: rotate(-2deg);
}

.Question__message {
  opacity: 0;
  position: absolute;
  text-shadow: none;
  transition: opacity 0.75s;
  top: 150px;
}
.Highlight {
  background: rgba(199,230,2,0.75);
  color: #222;
  padding: 5px;
}
.Highlight--dark {
  background: rgba(0,0,0,0.75);
}
.Highlight--pink {
  background: rgba(232,63,184,0.75);
}

.Question__message.show {
  opacity: 1;
}

.Game__stats span {
  display: inline-block;
}
.Game__stats span:nth-child(1) {
  transform: rotate(5deg);
}
.Game__stats span:nth-of-type(2) {
  transform: rotate(-5deg);
}
.Game__stats span:nth-of-type(3) {
  transform: rotate(3deg);
}
.Game__stats span:nth-of-type(4) {
  transform: rotate(-7deg);
}



.Game__sound--controls {
  left: 25px;
  position: fixed;
  top: 25px;
}

.Game__sound--controls button {
  border-radius: 50%;
  font-size: 14px;
  height: 60px;
  opacity: 0;
  width: 60px;
}

.Game__sound--play {
  animation-delay: 1s;
}
.Game__sound--pause {
  animation-delay: 2s;
}
.Game__sound--vup {
  animation-delay: 3s;
}
.Game__sound--vdown {
  animation-delay: 4s;
}

.Warning {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}


.radio__label {
  color: #fff;
  font-size: 18px;
}

.hidden {
  display: none;
  opacity: 0;
}





/* corners -- from old design */
/*.Question__corner {
  background: #232a2a;
  border: 3px solid;
  height: 50px;
  position: absolute;
  width: 50px;
}

.Question__corner--top-left {
  border-radius: 0 0 50% 0;
  border-left: none;
  border-top: none;
  top: -3px;
  left: -3px;
}

.Question__corner--top-right {
  border-radius: 0 0 0 50%;
  border-right: none;
  border-top: none;
  top: -3px;
  right: -3px;
}

.Question__corner--bottom-right {
  border-radius: 50% 0 0 0;
  border-right: none;
  border-bottom: none;
  bottom: -3px;
  right: -3px;
}

.Question__corner--bottom-left {
  border-radius: 0 50% 0 0;
  border-left: none;
  border-bottom: none;
  bottom: -3px;
  left: -3px;
}

------------------ html :
<div class="Question__corner Question__corner--top-left"></div>
<div class="Question__corner Question__corner--top-right"></div>
<div class="Question__corner Question__corner--bottom-right"></div>
<div class="Question__corner Question__corner--bottom-left"></div>

*/

