/*font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;*/

body {
  background: #232a2a;
  background: url('../images/distressed-bg.jpg') 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.75);
  transition: background .3s;
}


h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.Tagline {
  /*background: rgba(0,0,0,0.6);*/
  color: #222;
  font-size: 24px;
  margin-top: 3em;
  opacity: 0.6;
  transform: rotate(23deg);
}
.Tagline span {
  background: #fff;
  padding: 10px;
}


.Question {
  /*border: 3px solid #cacdac;*/
  padding: 30px 10px;
  position: relative;
  transform: rotate(-2deg);
}

/* corners */
/*.Question__corner {
  background: #232a2a;
  border: 3px solid;
  height: 50px;
  position: absolute;
  width: 50px;
}

.Question__corner--top-left {
  border-radius: 0 0 50% 0;
  border-left: none;
  border-top: none;
  top: -3px;
  left: -3px;
}

.Question__corner--top-right {
  border-radius: 0 0 0 50%;
  border-right: none;
  border-top: none;
  top: -3px;
  right: -3px;
}

.Question__corner--bottom-right {
  border-radius: 50% 0 0 0;
  border-right: none;
  border-bottom: none;
  bottom: -3px;
  right: -3px;
}

.Question__corner--bottom-left {
  border-radius: 0 50% 0 0;
  border-left: none;
  border-bottom: none;
  bottom: -3px;
  left: -3px;
}*/

.radio__label {
  color: #fff;
}

.hidden {
  display: none;
  opacity: 0;
}